* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  width: 100%;
  max-width: 100%;
}
body {
  background-image: url("../public/6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
}
.main-container,
.sub-container,
.select-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-container {
  margin: 3rem auto;
  width: 50%;
  height: auto;
  gap: 2rem;
  padding: 2rem 1rem;
  box-shadow: 0px 2px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}
.sub-container,
.select-cart {
  gap: 1rem;
}
.input,
.selected-list {
  height: 2.5rem;
  border-radius: 0.2rem;
  padding: 0.8rem;
  box-shadow: 0px 2px 10px 2px rgba(146, 168, 209, 0.3);

  transition: all 0.2s ease;
}
.input:hover {
  background-color: #efeeee;
}
.selected-list:hover {
  background-color: #efeeee;
}
button {
  width: 20%;
  height: 2.8rem;
  background-color: #00468c;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.2s ease;
  border-radius: 1.2rem;
  opacity: 0.7;
}
button:hover {
  box-shadow: inset 0px 2px 10px 5px rgba(0, 0, 0, 0.15);
  opacity: 1;
}
option{
  background-color: #efeeee;

}